ERP/Service References/AttendanceService/AttendanceService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11651/AttendanceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AttendanceData" />
  <xs:import schemaLocation="http://localhost:11651/AttendanceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:11651/AttendanceService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetExecutiveDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExecutiveDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetExecutiveDetailsResult" nillable="true" type="q1:ArrayOfExecutiveOptionView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExecutiveDetailsFirst">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExecutiveDetailsFirstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetExecutiveDetailsFirstResult" nillable="true" type="q2:ArrayOfAttendEmployeeSummaryView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeLeiuLeaveDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeLeiuLeaveDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetEmployeeLeiuLeaveDetailsResult" nillable="true" type="q3:ArrayOfEmployeeLeiuLeaveView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExecutiveDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="UpdateObj" nillable="true" type="q4:ArrayOfExecutiveOptionView" />
        <xs:element minOccurs="0" name="pay" type="xs:boolean" />
        <xs:element minOccurs="0" name="DT" type="xs:dateTime" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UID" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExecutiveDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateExecutiveDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployeeLeiuLeaveDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="UpdateObj" nillable="true" type="q6:ArrayOfEmployeeLeiuLeaveView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployeeLeiuLeaveDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEmployeeLeiuLeaveDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovedLeiuLeavePoolDataByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="user_id" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovedLeiuLeavePoolDataByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetApprovedLeiuLeavePoolDataByDateResult" nillable="true" type="q8:ArrayOfPendingLeiuLeavesView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyApprovedLeiuLeaves">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="LeaveList" nillable="true" type="q9:ArrayOfPendingLeiuLeavesView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyApprovedLeiuLeavesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyApprovedLeiuLeavesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExecutivePaymentDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExecutivePaymentDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetExecutivePaymentDetailsResult" nillable="true" type="q10:ArrayOfEmployeeLeiuLeaveView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLeiuLeavePayments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="paymentlist" nillable="true" type="q11:ArrayOftrns_LeiuLeavePayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLeiuLeavePaymentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveLeiuLeavePaymentsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginAttendanceDataMigration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="employeeList" nillable="true" type="q12:ArrayOfAttendanceEmployeeDataView" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="timePeriod" nillable="true" type="q13:z_Period" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="saveUserID" type="q14:guid" />
        <xs:element minOccurs="0" name="partial" type="xs:boolean" />
        <xs:element minOccurs="0" name="full" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginAttendanceDataMigrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BeginAttendanceDataMigrationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftDetailsByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Employee_ID" type="q15:guid" />
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftDetailsByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetShiftDetailsByDateResult" nillable="true" type="q16:ArrayOfEmployeeLeaveShiftDetailsView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftDetailsByDateNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Employee_ID" type="q17:guid" />
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftDetailsByDateNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetShiftDetailsByDateNewResult" nillable="true" type="q18:ArrayOfEmployeeLeaveShiftDetailsNewView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadAttendanceToDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="empAttendanceList" nillable="true" type="q19:ArrayOfdtl_AttendanceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadAttendanceToDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadAttendanceToDatabaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAttendanceFromAPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="empAttendanceList" nillable="true" type="q20:ArrayOfdtl_AttendanceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAttendanceFromAPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAttendanceFromAPIResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastDataDownloadDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastDataDownloadDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLastDataDownloadDateResult" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSMSAttendance">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSMSAttendanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetSMSAttendanceResult" nillable="true" type="q21:ArrayOfSMS_IN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSMSAttendance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="SMSData" nillable="true" type="q22:ArrayOfSMS_IN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSMSAttendanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSMSAttendanceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeShifts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="EmployeeID" type="q23:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeShiftsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetEmployeeShiftsResult" nillable="true" type="q24:ArrayOfEmployeeShiftView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeAttendanceData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EmpID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeAttendanceDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetEmployeeAttendanceDataResult" nillable="true" type="q25:ArrayOfdtl_AttendanceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEmployeeAttendanceData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="SaveObj" nillable="true" type="q26:ArrayOfEmployeeShiftView" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q27:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEmployeeAttendanceDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveEmployeeAttendanceDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeAttendanceSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="employee" type="q28:guid" />
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="period" type="q29:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeAttendanceSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmployeeAttendanceSummaryResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttendanceProcessEmployeeAndAttendDayWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="EmpList" nillable="true" type="q30:ArrayOfguid" />
        <xs:element minOccurs="0" name="SDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttendanceProcessEmployeeAndAttendDayWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAttendanceProcessEmployeeAndAttendDayWiseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAttendanceGroupEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="groupList" nillable="true" type="q31:ArrayOfdtl_AttendanceGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAttendanceGroupEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAttendanceGroupEmployeesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShiftMasterDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="addedShift" nillable="true" type="q32:dtl_Shift_Master" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShiftMasterDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveShiftMasterDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShiftMasterDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="updatedShift" nillable="true" type="q33:dtl_Shift_Master" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShiftMasterDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateShiftMasterDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShiftMasterDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="deleteShift" nillable="true" type="q34:dtl_Shift_Master" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShiftMasterDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteShiftMasterDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftWithCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftWithCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetShiftWithCategoriesResult" nillable="true" type="q35:ArrayOfdtl_Shift_Master" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetShiftNamesResult" nillable="true" type="q36:ArrayOfdtl_Shift_Master" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdditionalDaysByShift">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shiftDetailID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdditionalDaysByShiftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetAdditionalDaysByShiftResult" nillable="true" type="q37:ArrayOfdtl_Shift_Additional_Day" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShiftAdditionalDays">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="addedDays" nillable="true" type="q38:ArrayOfdtl_Shift_Additional_Day" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShiftAdditionalDaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveShiftAdditionalDaysResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShiftAdditionalDays">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="deletedDays" nillable="true" type="q39:ArrayOfdtl_Shift_Additional_Day" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShiftAdditionalDaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteShiftAdditionalDaysResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftBreaksByShift">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shiftID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftBreaksByShiftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetShiftBreaksByShiftResult" nillable="true" type="q40:ArrayOfdtl_Shift_Break_Details" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShiftBreakDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="deletedBreaks" nillable="true" type="q41:ArrayOfdtl_Shift_Break_Details" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShiftBreakDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteShiftBreakDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftConvering">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shiftID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftConveringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetShiftConveringResult" nillable="true" type="q42:ArrayOfdtl_Shift_Covering_Details" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShiftCoveringDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="addedCovering" nillable="true" type="q43:dtl_Shift_Covering_Details" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShiftCoveringDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveShiftCoveringDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShiftCoveringDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="deletedCovering" nillable="true" type="q44:ArrayOfdtl_Shift_Covering_Details" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShiftCoveringDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteShiftCoveringDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftOrderDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftOrderDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetShiftOrderDetailsResult" nillable="true" type="q45:ArrayOfdtl_Shift_Master" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShiftOrderDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="orderedShiftsList" nillable="true" type="q46:ArrayOfdtl_Shift_Master" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShiftOrderDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateShiftOrderDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftCategoryDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftCategoryDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetShiftCategoryDetailsResult" nillable="true" type="q47:ArrayOfz_Shift_Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShiftCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="addedCategory" nillable="true" type="q48:z_Shift_Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShiftCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveShiftCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShiftCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="updatedCategory" nillable="true" type="q49:z_Shift_Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShiftCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateShiftCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShiftCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="deletedCategory" nillable="true" type="q50:z_Shift_Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShiftCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteShiftCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftWeeks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftWeeksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetShiftWeeksResult" nillable="true" type="q51:ArrayOfz_ShiftWeek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShiftWeeksDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="addedShiftWeek" nillable="true" type="q52:z_ShiftWeek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShiftWeeksDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveShiftWeeksDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShiftWeekDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="updatedShiftWeek" nillable="true" type="q53:z_ShiftWeek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShiftWeekDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateShiftWeekDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShiftWeekDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="deletedShiftWeek" nillable="true" type="q54:z_ShiftWeek" />
        <xs:element minOccurs="0" name="isWeekRemove" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShiftWeekDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteShiftWeekDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDayRangeDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDayRangeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetDayRangeDetailsResult" nillable="true" type="q55:ArrayOfz_ShiftDayRange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetShiftTypesResult" nillable="true" type="q56:ArrayOfz_ShiftType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetAttendanceGroupsResult" nillable="true" type="q57:ArrayOfz_AttendanceGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAttendanceGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="updatingGroup" nillable="true" type="q58:z_AttendanceGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAttendanceGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAttendanceGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttendanceGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="deletingGroup" nillable="true" type="q59:z_AttendanceGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttendanceGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAttendanceGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidayTypesBasicDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidayTypesBasicDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetHolidayTypesBasicDetailsResult" nillable="true" type="q60:ArrayOfz_HolidayType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveHolidayType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="addedHolidayType" nillable="true" type="q61:z_HolidayType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveHolidayTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveHolidayTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHolidayType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="deletedHolidayType" nillable="true" type="q62:z_HolidayType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHolidayTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteHolidayTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidayBasicDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidayBasicDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetHolidayBasicDetailsResult" nillable="true" type="q63:ArrayOfz_HolidayData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveHolidayData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="addedHoliday" nillable="true" type="q64:z_HolidayData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveHolidayDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveHolidayDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBulkHolidayData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="addedHolidayList" nillable="true" type="q65:ArrayOfz_HolidayData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBulkHolidayDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveBulkHolidayDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHolidayData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="updatedHoliday" nillable="true" type="q66:z_HolidayData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHolidayDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateHolidayDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHolidayData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="deletedHoliday" nillable="true" type="q67:z_HolidayData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHolidayDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteHolidayDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidayYears">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidayYearsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetHolidayYearsResult" nillable="true" type="q68:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidaysBasicDetailsByYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidaysBasicDetailsByYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetHolidaysBasicDetailsByYearResult" nillable="true" type="q69:ArrayOfz_HolidayData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEmployeeDailyShiftDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="addedList" nillable="true" type="q70:ArrayOftrns_EmployeeDailyShiftDetails" />
        <xs:element minOccurs="0" name="isRemoveIfExists" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEmployeeDailyShiftDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveEmployeeDailyShiftDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeDailyShiftDetailsWithOT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="employeeList" nillable="true" type="q71:ArrayOfguid" />
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="filterDates" nillable="true" type="q72:ArrayOfdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeDailyShiftDetailsWithOTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetEmployeeDailyShiftDetailsWithOTResult" nillable="true" type="q73:ArrayOftrns_EmployeeDailyShiftDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAssignedShift">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="deletedShift" nillable="true" type="q74:trns_EmployeeDailyShiftDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAssignedShiftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAssignedShiftResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShiftBreakOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="updatedList" nillable="true" type="q75:ArrayOftrns_EmployeeShiftBreakStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShiftBreakOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateShiftBreakOptionsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeHolidayDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grpID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeHolidayDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetEmployeeHolidayDetailsResult" nillable="true" type="q76:ArrayOfmas_Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeHolidayDetailsByEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="empIDList" nillable="true" type="q77:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeHolidayDetailsByEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetEmployeeHolidayDetailsByEmployeeResult" nillable="true" type="q78:ArrayOfmas_Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignEmployeeHolidayDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="assignedList" nillable="true" type="q79:ArrayOfmas_Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignEmployeeHolidayDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignEmployeeHolidayDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEmployeeHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="removeList" nillable="true" type="q80:ArrayOfmas_Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEmployeeHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveEmployeeHolidayResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveIndividualEmployeeHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="EmployeeID" type="q81:guid" />
        <xs:element minOccurs="0" name="HolidayID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveIndividualEmployeeHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveIndividualEmployeeHolidayResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEmployeeMaxOtDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="addedList" nillable="true" type="q82:ArrayOftrns_EmployeeMaxOTDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEmployeeMaxOtDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveEmployeeMaxOtDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeMaxOtDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="deletedList" nillable="true" type="q83:ArrayOftrns_EmployeeMaxOTDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeMaxOtDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEmployeeMaxOtDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShiftType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="updatedShiftList" nillable="true" type="q84:ArrayOfdtl_Shift_Master" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShiftTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateShiftTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShiftType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="deletedTypeList" nillable="true" type="q85:ArrayOftrns_ShiftType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShiftTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteShiftTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceGroupsDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceGroupsDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetAttendanceGroupsDetailsResult" nillable="true" type="q86:ArrayOfAttendanceGroupDetailsView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceGroupWithEmployeesDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceGroupWithEmployeesDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetAttendanceGroupWithEmployeesDetailsResult" nillable="true" type="q87:ArrayOfAttendanceGroupWithEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceGroupEmployeeIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceGroupEmployeeIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetAttendanceGroupEmployeeIDsResult" nillable="true" type="q88:ArrayOfAttendanceGroupWithEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssignedGroupEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="empList" nillable="true" type="q89:ArrayOfguid" />
        <xs:element minOccurs="0" name="grpID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssignedGroupEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetAssignedGroupEmployeesResult" nillable="true" type="q90:ArrayOfAttendanceGroupWithEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeShiftCalendarDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element xmlns:q91="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="employeeID" nillable="true" type="q91:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeShiftCalendarDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetEmployeeShiftCalendarDetailsResult" nillable="true" type="q92:ArrayOfEmployeeShiftCalendarDetailView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceEmployeeSummaryDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceEmployeeSummaryDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetAttendanceEmployeeSummaryDetailsResult" nillable="true" type="q93:ArrayOfAttendEmployeeSummaryView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendancePeriodDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendancePeriodDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetAttendancePeriodDetailsResult" nillable="true" type="q94:ArrayOfAttendancePeriodView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftMasterDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftMasterDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetShiftMasterDetailsResult" nillable="true" type="q95:ArrayOfShiftMasterDetailsView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftAllDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftAllDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetShiftAllDetailsResult" nillable="true" type="q96:ArrayOfShiftDetailAllView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftWeekWithDaysDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftWeekWithDaysDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetShiftWeekWithDaysDetailsResult" nillable="true" type="q97:ArrayOfShiftWeekWithDaysView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftWeekWithDaysByWeek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="weekID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftWeekWithDaysByWeekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetShiftWeekWithDaysByWeekResult" nillable="true" type="q98:ArrayOfShiftWeekWithDaysView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeAssignedShiftDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="empIDList" nillable="true" type="q99:ArrayOfguid" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeAssignedShiftDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="GetEmployeeAssignedShiftDetailsResult" nillable="true" type="q100:ArrayOfEmployeeAssignedShiftsView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginAttendanceProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="employeeList" nillable="true" type="q101:ArrayOfAttendanceEmployeeDataView" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/AttendanceData" minOccurs="0" name="timePeriod" nillable="true" type="q102:z_Period" />
        <xs:element minOccurs="0" name="checkleiuleave" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginAttendanceProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BeginAttendanceProcessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>